<p style="color: green"><%= notice %></p>

<div class='shopping-container'>
  <h2 class="text-center">Shopping List</h2>
  <% if @lists.empty? %>
    <p class="text-center"> <i> Your shopping list is empty </i></p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |item| %>
          <tr>
            <td><%= item.food.name %></td>
            <td><%= item.quantity %> <%= item.food.measurement_unit %></td>
            <td>$ <%= food.price %></td>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>