<tr>
  <td><%= food.name %></td>
  <td><%= food.quantity %></td>
  <td><%= food.measurement_unit %></td>
  <td>$ <%= number_with_precision(food.price, precision: 2) %></td>
  <td><%= button_to "Delete", food, method: :delete, class: 'delete-link' %></td>
</tr>
